<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <script type="text/javascript" src="../public/validation.js"></script>
</head>
<body>

    <form method="post" name="limitsForm" enctype="multipart/form-data" onsubmit="return validateLimitsForm()">
        <div class="spending-element" id="limit-spending-element">        

            <div class="element-amount">
                <label> AMOUNT </label>
                <input type="text" name="amount" value="<%= helper.dineroToFormattedNumberUSD(locals.limits.dailyLimit) %>">
            
            </div>
            <div class="element-header">
                <label> LIMIT TYPE </label>
                <select class="limits-select" name="type" >
                    <option value="0" selected>Daily</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                    <option value="3">Yearly</option>
                  </select>
            
            </div>
            <br><br><br>
            <div style="display: block;">
                <input type="submit" value="SAVE">
            </div>
        </div>

    </form>
</body>
</html>