.root {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.root > .form {
    width: 900px;
}

.incitingText {
    cursor: pointer;
    margin-left: 10px;
    color: cornflowerblue;
}