.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 70vw;
    
}

.root > .form {
    width: 80%;
}

.incitingText {
    cursor: pointer;
    margin-left: 10px;
    color: cornflowerblue;
}